* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: white !important;
    min-height: 100px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.nav-item a:nth-child(1):hover{
     color: #6F0000 !important;
    border-bottom: 3px solid #6F0000;
    border-radius: 3px;
}
.nav-item a:nth-child(2):hover{
     color: #6F0000 !important;
    border-bottom: 3px solid #6F0000;
    border-radius: 3px;
}
.nav-item a:nth-child(3):hover{
     color: #6F0000 !important;
    border-bottom: 3px solid #6F0000;
    border-radius: 3px;
}
.nav-item a:nth-child(4):hover{
     color: #6F0000 !important;
    border-bottom: 3px solid #6F0000;
    border-radius: 3px;
}

ul {
    margin-left: 50px;
}

li {
    margin-left: 30px;
    font-size: 24px;
}
li a:hover{
    color: #6F0000 !important;
}

.banner {
    background-image: url(./Assets/Desktop\ -\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 87vh;
}

.category {
    display: flex;
    justify-content: center;
}

.cat-head {
    text-align: center;
    margin-top: 20px;
    color: #6F0000;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

.card img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.cart {
    text-decoration: none;
}

.cart-product {
    width: 600px;
    height: 300px;
    margin-top: 60px;
    margin-left: 100px;
}
.about{
    font-size: 58px !important;

}
.l-fur{
    height: 350px;
    width: 75vw;
border-radius: 20px;
}
.about-con{
    width: 45vw;
}
.frame{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
grid-auto-rows: 250px;
gap: 10px;
    margin-top: 50px;
}
.frame div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.frame-b1{
grid-column: span 2;


}
.frame-b2{
  grid-row: span 1;
}
.frame-b3{
grid-row: span 2;
}
.frame-b4{
grid-column: span 3;
grid-row: span 2;
}
.frame-b7{
grid-row: span 2;
}
.frame-b8{
grid-column: span 2;
}
.frame-b9{
grid-row: span 2;
}
.frame-b10{
grid-column: span 2;
}
.frame-b11{
grid-column: span 3;
}
@media (max-width: 380px) {
    .logo {
        width: 150px;
    }
    .about{
        font-size: 38px !important;
    }

}